@import url('estilos.css')


.about--elvis
	padding 1em 2em

.bio
	&--parrafo
		max-width 50%
		display inline-block
		vertical-align top
		li
			margin-left 2em
		
	&--titulo
		display inline-block
		
.foto--elvis
	display inline-block
	position relative
	margin 0
	img
		width 320px
	span
		position absolute
		top -10px
		right 0
		font-size 20px
		color $azulBase

header
	text-align center
	a
		font-size 28px
		&:nth-child(1)
			color black
			border-right 3px solid black
			padding-right 3px 
			
.skills
	height 300px
	img
		height 100%