@import "estilos--about.styl"

		
.articulos
	padding 1em
	.articulo 
		min-height 300px
		background white
		figure
			background url('../img/247H.jpg') center center no-repeat
			float left
			width 35%
			height 300px
			margin-right 1em
		&--titulo
			margin-bottom 0
			text-decoration none
		
		&--fecha,&--tag
			display inline-block
			margin 0
		&--fecha
			color grey
			margin 0 10px
		.boton
			tex-align center
			background $naranja
.cargarmasContainer	
	text-align center
	a
		color blue
		display block
	
header
	// height 300px
	padding-top 20px
	position relative
	.fondo
		background url("../img/puente-horizonte.jpg") center center  no-repeat
		-webkit-filter: blur(2px)
		-moz-filter: blur(2px)
		-o-filter: blur(2px)
		-ms-filter: blur(2px)
		

		position absolute
		left 0
		top 0
		width 100%
		height 100%
		z-index -1
		
	h1
		margin 0
		color #f6921d
		text-shadow 1px 1px 10px black
		
.nohaymas
	text-align center
	background url("../img/DC8.jpg") top center
	height 770px
	padding-top 2em
	p
		color white
		margin 0
		font-size 3em
		&:nth-child(2)
			font-size 1em
			margin-bottom 2em
	a
		display table
		&.boton
			border-radius 0
	input
		width 300px
		text-align  center


//break Points
@media (max-width:650px)
	.articulos
		.articulo
			.thumbnail
				float none
				width 100%