@import url('estilos.css')


// .about--elvis
// 	padding 1em 2em

.sieteCosas
	background #3498db
	padding 2em
	text-align center
	h3
		font-size 32px
	
	ol
		margin auto
		display inline-block
		text-align left
	li
		font-weight 900
			
		

.bio
	&--contenido
		max-width 50%
		vertical-align top
		li
			margin-left 2em
			
	&--titulo,&--contenido
		display inline-block
		margin-left 2em
		margin 0.5em 1em
		
.blog--
	&contenido
		margin-left 2.5em
	&diferencias
		margin-left 2em
		li
			margin-left 1em
	&titulo
		font-size 26px
		margin-left 1em

	&correo
		background #fff

.foto--elvis
	display inline-block
	position relative
	margin 0
	img
		width 320px
	

header
	text-align center
	margint-top 0.6em
	a
		font-size 28px
		&:nth-child(1)
			color black
			border-right 3px solid black
			padding-right 3px 
			
.skills
	display none
	height 300px
	img
		height 100%
		



//OOcssClases

.tachado
	color #666
	text-decoration line-through
	
.sinSerifa
	font-family: 'EB Garamond', sans-serif;
	font-size 20px
	line-height 1.5em
	
.boton
	margin 1em auto
	&#trabajemos,&#entrarAlBlog
		color white

.posdata
	line-height 1
	font-size 16px
	margin 0