@import 'normalize.css';
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vn0u6b");
  src: url("../fonts/icomoon.eot?vn0u6b#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?vn0u6b") format('truetype'), url("../fonts/icomoon.woff?vn0u6b") format('woff'), url("../fonts/icomoon.svg?vn0u6b#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-check:before {
  content: "\e908";
  color: #008000;
}
.icon-spinner9:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e904";
  color: #f00;
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-youtube2:before {
  content: "\e906";
}
.icon-linkedin2:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e900";
}
body {
  background: #fff;
}
.aprenderas {
  margin-top: 1em;
}
.aprenderas li {
  background: url("../img/icon_list.png") left no-repeat;
  padding-left: 35px;
  line-height: 1.5;
}
.contenido {
  margin: 0 auto;
  max-width: 690px;
}
.contenido .usuario {
  display: inline-block;
  width: 45%;
}
.contenido .usuario--negativo {
  vertical-align: top;
  display: inline-block;
  width: 45%;
  border-left: 1px solid #808080;
}
.contenido li {
  line-height: 1.5;
  font-size: 1.5em;
}
.correo {
  text-align: center;
  background: #3498db;
  padding: 2.5em 0;
  position: relative;
}
.correo #mc_embed_signup {
  padding: 1em;
  text-align: center;
  display: inline-block;
}
.correo #mc_embed_signup #mc-embedded-subscribe {
  padding: 1em;
}
.correo #mc_embed_signup .subencabezado {
  font-size: 26px;
  margin: 0 0 1.5em 0;
  display: block;
  color: #fff;
}
.correo #mc_embed_signup .encabezado {
  color: #f6921d;
  font-size: 46px;
  display: block;
  margin-bottom: 0;
}
.correo #mc_embed_signup input {
  text-align: center;
  margin: 0.5em;
  transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}
.correo #mc_embed_signup input[type="submit"] {
  background: #f6921d;
  border: 1px solid #f6921d;
}
.correo #mc_embed_signup input[type="submit"]:hover {
  background: #008000;
  box-shadow: 2px 2px 12px;
  border: 1px solid #008000;
}
.correo #mc_embed_signup input[type="email"]:hover,
.correo #mc_embed_signup input[type="email"]:focus {
  border-radius: 50px;
  width: 300px;
  box-shadow: 2px 2px 2px;
}
.correo .flecha--abajo {
  width: 0px;
  height: 0px;
  border-left: 60px solid transparent;
/* izquierda flecha */
  border-right: 60px solid transparent;
/* derecha flecha */
  border-top: 60px solid #fff;
/* base flecha y color*/
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -60px;
}
header {
  background: #3498db;
}
header .fondo {
  width: 100%;
  margin: -4px;
}
header .fondo img {
  width: 100%;
}
header .puv {
  margin: 1em;
  text-align: center;
  font-size: 48px;
  color: #f5f5f5;
  display: inline-block;
}
header .puv span {
  color: #f6921d;
  font-size: 58px;
}
.tema {
  text-align: center;
}
.tema h2 {
  margin: 1em;
  font-size: 46px;
}
ul {
  list-style: none;
}
.preCorreo {
  display: block;
  position: relative;
}
.preCorreo h2 {
  text-align: center;
  margin: 4em auto;
  padding: 1em;
  display: block !important;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.preCorreo .flecha--abajo {
  width: 0px;
  height: 0px;
  border-left: 60px solid transparent;
/* izquierda flecha */
  border-right: 60px solid transparent;
/* derecha flecha */
  border-top: 60px solid #3498db;
/* base flecha y color*/
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin-left: -60px;
}
.resaltado--azul {
  background: #3498db;
}
